.history{
    height: 38%;
    width: 100%;
    overflow: hidden;
    border: 1px solid #dddddd;
    background-color: white;
}
.history>p{
    padding: 10px 15px;
    font-weight: bold;
    margin: 0;
}
.his-list{
    height: 85%;
    overflow: scroll;
}