.login{
    width: 100%;
    height: 480px;
    display: flex;             /*flex弹性布局*/
    justify-content: center;
    align-items: center;
}
.login-log{
    width: 25%;
    height: 300px;
    border: 2px solid #2C2C32;
    border-radius: 3%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 17px rgba(0,0,0,.7) ;
    z-index: 2;
    animation: log 1s ease-in-out 0s 1 normal;
}
.log{
    font-size: 35px;
    font-family: 'NSimSun', serif;
    font-weight: bolder;
    margin-bottom: 15px;
    margin-top: 10px;
    /*color: #333333;*/
}
.btn-log{
    margin-top: 20px;
    width: 30%;
    background-color: goldenrod;
    /*color: white;*/
    font-size: 15px;
    font-weight: bolder;
    font-family: "Helvetica Neue", serif;
    border: 1px solid black;
}
.btn-log:hover{
    width: 35%;
    background-color: goldenrod;
    border: 1px solid black;
}
.log-area1{
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 350px solid black;
    animation: log 1s ease-in-out 0s 1 normal;
}
.log-area2{
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 3%;
    background-color: black;
    animation: log-t 1s ease-in-out 0s 1 normal;
}
@keyframes log{
    from{transform:translate(0,-5px)}
    to{transform:translate(0,0)}
}
@keyframes log-t{
    from{transform:scaleX(0.3)}
    to{transform:scaleX(1)}
}